/*
 * Copyright (c) 2026
 * SPDX-License-Identifier: Apache-2.0
 *
 * samples/drivers/eeprom: EEPROM only. The stock sample binds DT_ALIAS(eeprom_0).
 */

&tmp112_0 {
	status = "disabled";
};

&lm75_0 {
	status = "disabled";
};

&adxl345_0 {
	status = "disabled";
};

&ssd1306_0 {
	status = "disabled";
};

/ {
	aliases {
		eeprom-0 = &eeprom0;
	};
};
